absl-py==2.3.0
affine @ file:///home/conda/feedstock_root/build_artifacts/affine_1733762038348/work
altair==5.5.0
astunparse==1.6.3
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1741918516150/work
blinker==1.9.0
branca @ file:///home/conda/feedstock_root/build_artifacts/branca_1734433375112/work
Brotli @ file:///Users/runner/miniforge3/conda-bld/brotli-split_1725267563793/work
cachetools==5.5.2
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1746569525376/work/certifi
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1725560551097/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1746214863626/work
click @ file:///home/conda/feedstock_root/build_artifacts/click_1747811314515/work
click-plugins @ file:///home/conda/feedstock_root/build_artifacts/click-plugins_1733731077999/work
cligj @ file:///home/conda/feedstock_root/build_artifacts/cligj_1733749956636/work
contourpy @ file:///Users/runner/miniforge3/conda-bld/contourpy_1744743161496/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1733332471406/work
earthengine-api==1.5.17
filelock==3.18.0
flatbuffers==25.2.10
folium @ file:///home/conda/feedstock_root/build_artifacts/folium_1747384393384/work
fonttools @ file:///Users/runner/miniforge3/conda-bld/fonttools_1748465573329/work
fsspec==2025.5.1
gast==0.6.0
geopandas @ file:///home/conda/feedstock_root/build_artifacts/geopandas_1734346029138/work
gitdb==4.0.12
GitPython==3.1.44
google-api-core==2.24.2
google-api-python-client==2.170.0
google-auth==2.40.2
google-auth-httplib2==0.2.0
google-cloud-core==2.4.3
google-cloud-storage==3.1.0
google-crc32c==1.7.1
google-pasta==0.2.0
google-resumable-media==2.7.2
googleapis-common-protos==1.70.0
grpcio==1.71.0
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1738578511449/work
h5py==3.13.0
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
httplib2==0.22.0
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1733211830134/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1741263328855/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1748019130050/work
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
keras==3.10.0
kiwisolver @ file:///Users/runner/miniforge3/conda-bld/kiwisolver_1725459112978/work
libclang==18.1.1
mapclassify @ file:///home/conda/feedstock_root/build_artifacts/mapclassify_1748411806594/work
Markdown==3.8
markdown-it-py==3.0.0
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1733219682943/work
matplotlib==3.10.3
mdurl==0.1.2
ml-dtypes==0.3.2
mpmath==1.3.0
munkres==1.1.4
namex==0.1.0
narwhals @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_narwhals_1748271935/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_networkx_1731521053/work
numpy==1.26.4
opt_einsum==3.4.0
optree==0.16.0
packaging==24.2
pandas @ file:///Users/runner/miniforge3/conda-bld/pandas_1744430506825/work
patsy @ file:///home/conda/feedstock_root/build_artifacts/patsy_1733792384640/work
pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1746646335411/work
plotly @ file:///home/conda/feedstock_root/build_artifacts/plotly_1748388440098/work
proto-plus==1.26.1
protobuf==4.25.8
pyarrow==20.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1733195786/work
pydeck==0.9.1
Pygments==2.19.1
pyogrio @ file:///Users/runner/miniforge3/conda-bld/pyogrio_1746734618739/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1743089729650/work
pyproj @ file:///Users/runner/miniforge3/conda-bld/pyproj_1742323311431/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1733217236728/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1733215673016/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1742920838005/work
rasterio @ file:///Users/runner/miniforge3/conda-bld/rasterio_1742428651474/work
referencing==0.36.2
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1733217035951/work
rich==14.0.0
rpds-py==0.25.1
rsa==4.9.1
scikit-learn @ file:///Users/runner/miniforge3/conda-bld/scikit-learn_1736496793327/work/dist/scikit_learn-1.6.1-cp311-cp311-macosx_11_0_arm64.whl#sha256=4639b1c7805c0df35af4cc9625edea9ea96885130c17d04fbab1f69d7cc94f02
scipy @ file:///Users/runner/miniforge3/conda-bld/scipy-split_1739790733133/work/dist/scipy-1.15.2-cp311-cp311-macosx_11_0_arm64.whl#sha256=22d09b058f8dc2ede3b7efb028656169f42c30d91d02da114d6db6c6ccd40800
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-split_1733730015268/work
shapely @ file:///Users/runner/miniforge3/conda-bld/shapely_1747664365932/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1733380938961/work
smmap==5.0.2
snuggs @ file:///home/conda/feedstock_root/build_artifacts/snuggs_1733818638588/work
statsmodels @ file:///Users/runner/miniforge3/conda-bld/statsmodels_1727986712571/work
streamlit==1.45.1
sympy==1.14.0
tenacity==9.1.2
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.2
tensorflow-io-gcs-filesystem==0.37.1
tensorflow-macos==2.16.2
tensorflow-metal==1.2.0
termcolor==3.1.0
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1741878222898/work
toml==0.10.2
torch==2.7.0
torchaudio==2.7.0
torchvision==0.22.0
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1748003379534/work
typing_extensions==4.13.2
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1742745135198/work
unicodedata2 @ file:///Users/runner/miniforge3/conda-bld/unicodedata2_1736692555874/work
uritemplate==4.1.1
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1744323578849/work
Werkzeug==3.1.3
wrapt==1.17.2
xgboost @ file:///Users/runner/miniforge3/conda-bld/xgboost-split_1748292871873/work/python-package
xyzservices @ file:///home/conda/feedstock_root/build_artifacts/xyzservices_1745598038694/work
zstandard==0.23.0
